:root {
  --blue: rgb(67, 147, 218);
  --purp: rgb(136, 58, 238);
  --bla: rgb(41, 41, 41)
}

html {
  font-family: "Arial Black", Gadget, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
}

header {
  position: sticky;
  padding: 20px;
  width: 100%;
  height: 30px;
  text-align: left;
  background: #000;
  font-size: 2rem;
  border-bottom: 2px solid var(--purp);;
}

div.box {
  border-bottom: 4px solid var(--blue);
}

.left-side h3 {
  margin: 0;
  text-transform: uppercase;
  color: var(--blue);
}

.left-side span {
  color: var(--prup);
}

.sidebar {
  background: #525252;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: auto;
  height: 100%;
  text-align: center;
  /* border: 1px solid blue; */
}

.sidebar ul {
  /* border: 1px solid red; */
  text-align: center;
  margin: 0;
  padding: 0;
}

.sidebar li {
  color: grey;
  font-size: 25px;
  padding: 0 10px 0 10px;
  text-align: center;
  margin: 10px 0;
}

.sidebar li:hover {
  color: #fff;
  cursor: pointer;
  background: var(--blue);
  transition: background 0.5s ease-in;
}

nav.icons {
  position: fixed;
} 

.icons a {
  margin-right: auto;
  font-size: 3rem;
  display: block;
  padding: 25px;
  border-right: 1px dashed whitesmoke;
  color: whitesmoke;
}

.icons a i {
  height: auto;
  width: 100%
}

.icons a i:hover {
  color: var(--blue);
  text-decoration: none;
}

.wrapper {
  display: inline;
}

h3 {
  color: whitesmoke;;
}

section.projects-section {
  justify-content: center;
}

div.title {
  background: var(--blue);
  margin: 25px auto -50px 10%;
}

div.title h2 {
  color: whitesmoke;
  margin: 0 auto auto 15px;
  padding: 10px;
}

article.project-holder {
  width: 100%;
}

figure.project {
  text-align: center;
  background: var(--purp);
  border-radius: 2px;
  border: 1px solid var(--blue);
  width: 80%;
  margin: 55px auto;
}

figure.project iframe {
  padding: 20px 0px;
  border-radius: 5px;
}

div.project-content {
  display: flex;
  width: 100%;
}

figcaption.summary {
  text-align: center;
  width: 50%;
  border-right: 1px solid var(--blue);
}

figcaption.tech-used {
  text-align: center;
  width: 50%;
  border-left: 1px solid var(--blue);
}
