body {
  margin: 0;
  padding: 0;
  background: #000;
}

header {
  position: fixed;
  background: grey;
  padding: 20px;
  width: 100%;
  height: 30px;
  text-align: center;
}

.left-side h3 {
  margin: 0;
  text-transform: uppercase;
  color: #1fc0cf;
}

.left-side span {
  color: #d36bff;
}

.sidebar {
  background: #525252;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: auto;
  height: 100%;
  text-align: center;
  /* border: 1px solid blue; */
}

.sidebar ul {
  /* border: 1px solid red; */
  text-align: center;
  margin: 0;
  padding: 0;
}

.sidebar li {
  color: grey;
  font-size: 25px;
  padding: 0 10px 0 10px;
  text-align: center;
  margin: 10px 0;
}

.sidebar li:hover {
  color: #fff;
  cursor: pointer;
  background: #1fc0cf;
  transition: background 0.5s ease-in;
}

.icons i {
  margin: 5px;
  font-size: 20px;
}

