body {
    margin: 0;
}

#wrapper {
    display: block;
}

#sidebar {
    display: block;
    background-color: grey;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    margin-right: auto;
    .icon-container {
        display: block;
        i {
            display: block;
        }
    }
}

#header {
    background-color: lightcyan;
    top: 0;
    text-align: center;
    h2 {
        margin: 0 auto auto 5%;
    }
}

#container {
    background-color: lightsalmon;
    margin: 0 auto;
    display: flex;
    
    .tabhead {
        text-align: center;
        border: 1px solid black;
        .tabcontent {
            height: 100%;
        }
    }
}


// #sidebar {
//     height: 100%;
//     width: 5%;
//     position: fixed; 
//     z-index: 1; 
//     top: 0; 
//     left: 0;
//     background-color: grey; 
//     overflow-x: hidden; 
//     padding-top: 20px;
//     i {
//         display: list;
//     }
//     .icon-container {
//         display: block;
//     }
// }
